[submodule "cicd-express-openai"]
	path = cicd-express-openai
	url = https://github.com/cTapiaDev/cicd-express-openai
[submodule "observabilidad-prometheus-grafana"]
	path = observabilidad-prometheus-grafana
	url = https://github.com/cTapiaDev/demo-metricas-prometheus
[submodule "terraform-k8s-demo"]
	path = terraform-k8s-demo
	url = https://github.com/cTapiaDev/terraform-k8s-demo
[submodule "kubernetes-avanzado-m5"]
	path = kubernetes-avanzado-m5
	url = https://github.com/cTapiaDev/kubernetes-avanzado-g1
[submodule "aiops_demo"]
	path = aiops_demo
	url = https://github.com/cTapiaDev/aiops_demo
